@import "abstract";

.login-header {
  background-color: $primary-background-color;

  &__logo {
    height: 80px;
    width: 180px;
  }
}

.login-form {
  &__forgot-password {
    font-size: 14px;
    text-align: center;
    text-decoration: none;
  }
}

.login-box {
  &__error-alert {
    background-color: $error-background-color;
    border: {
      color: $error-border-color;
      radius: 3px;
      style: solid;
      width: 1px;
    }
    color: $error-text-color;
    padding: 1rem;
    width: 100%;
  }
}

.login-submit {
  width: 100%;
}
