<div>
  <md-card layout="row" layout-align="center center">
    <i class="material-icons lessons-search__icon">search</i>
    <md-input-container flex>
      <input
        aria-label="search"
        ng-minlength="3"
        ng-model="search"
        type="text"
      >
    </md-input-container>
    <md-button ng-click="clearFilter()">Limpar Filtros</md-button>
  </md-card>
  <div
    layout="row"
    layout-align="center center"
    ng-if="loading"
  >
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <div layout="row" layout-wrap>
    <div
      flex="33"
      flex-xs="100"
      flex-sm="50"
      ng-repeat="lesson in lessons | filter:diacriticsFilter | limitTo:6"
    >
      <md-card
        class="lesson-card"
        md-colors="{background: getColor(lesson.areaconhecimento_id) + '-100'}"
      >
        <p>
          <strong>{{ lesson.aula_descricao }}</strong>
        </p>
        <p>{{ lesson.areaconhecimento_descricao }} - {{ lesson.disciplina_descricao }}</p>
        <p>{{ lesson.modulo_descricao }}</p>
        <md-button md-colors="{background: getColor(lesson.areaconhecimento_id) + '-500'}">Assistir</md-button>
      </md-card>
    </div>
  </div>
</div>
