<div
  layout="row"
  layout-align="center center"
>
  <md-card flex="40" flex-xs="100" flex-sm="60" flex-xl="20">
    <md-card-header
      class="login-header"
      layout-align="center center"
    >
      <img
        alt="Sem Chamada"
        class="login-header__logo"
        src="../images/logo.png"
      >
    </md-card-header>
    <md-card-content>
      <form
        name="formLogin"
        ng-submit="formLogin.$valid && attemptLogin(form)"
        novalidate
      >
        <md-input-container class="md-block">
          <label for="email">e-mail</label>
          <input
            name="email"
            ng-model="form.email"
            type="email"
            required
          >
          <div ng-messages="formLogin.email.$error">
            <div ng-message="required">O campo de e-mail precisa ser preenchido.</div>
            <div ng-message="email">O campo deve conter um e-mail válido.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label for="senha">senha</label>
          <input
            name="senha"
            ng-model="form.senha"
            type="password"
            required
          >
          <ng-messages for="formLogin.senha.$error">
            <ng-message when="required">O campo de senha precisa ser preenchido.</ng-message>
          </ng-messages>
        </md-input-container>
        <div layout="column" layout-align="center center">
          <p
            class="login-box__error-alert"
            ng-if="attemptError"
          >{{ attemptError }}</p>
          <md-progress-circular
            md-mode="indeterminate"
            ng-if="loading"
          ></md-progress-circular>
          <md-button
            md-colors="{background: formLogin.$invalid ? 'green-100' : 'green-500'}"
            class="md-primary login-submit"
            ng-disabled="formLogin.$invalid"
            type="submit"
          >
            <span>Entrar</span>
          </md-button>
          <a
            class="md-primary login-form__forgot-password"
            href="#"
          >Esqueceu sua senha?</a>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
